django==5.1.5
django-extensions==3.2.3
djangorestframework==3.15.2
django-compressor==4.5.1
django-libsass==0.9
django-storages==1.14.3
django-thumbnails==0.8.0
django-querystring-tag==1.0.3

redis==5.2.1
django-redis==5.4.0
psycopg2-binary==2.9.10
boto3==1.35.98

Pillow==11.1.0
httpx==0.28.1
lxml==5.2.1
libsass==0.23.0
python-dateutil==2.9.0.post0
opencv-python==4.10.0.84
