{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="center">
    <h1>{{ activity.name }}</h1>
</div>
{% include "web/activities/details_header.html" %}
<div class="activity">
    <table>
        <tr>
            <th>Type</th>
            <td>{{ activity.get_type_display }}</td>
        </tr>
        <tr>
            <th>Shoes</th>
            <td>
                <a href="{% url "web:shoes:details" activity.shoes_id %}">{{ activity.shoes.name }}</a>
            </td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ activity.created }}</td>
        </tr>
        <tr>
            <th>Distance</th>
            <td>{{ activity.get_distance_display }}</td>
        </tr>
        <tr>
            <th>Duration</th>
            <td>{{ activity.get_duration_display }}</td>
        </tr>
        <tr>
            <th>Average Pace</th>
            <td>{{ activity.average_pace }}</td>
        </tr>
        {% if activity.no_photos %}
        <tr>
            <th>No Photos</th>
            <td>Yes</td>
        </tr>
        {% endif %}
    </table>
</div>
{% for category, photos in photo_by_categories.items %}
<div class="category">
    <div class="category__name">
        <a href="{% url "web:shoes:photo_category" activity.shoes_id category.id %}">
            <h3>{{ category.name }}</h2>
        </a>
    </div>
    <div class="photos__grid">
        {% for photo in photos %}
        <div class="photos__grid__item">
            <a href="{{ photo.file.url }}" target="_blank">
                <div class="photos__photo">
                    <img src="{{ photo.file.thumbnails.square.url }}">
                </div>
            </a>
            <a href="{% url "web:activities:edit_photo" activity.id photo.id %}" class="photos__edit">
                <img src="{% static "img/edit.svg" %}">
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}
{% endblock %}
