<div class="activities__header">
    <select name="action" id="action">
        <option value="{% url "web:activities:index" %}" {% if selected_tab == 'index' %}selected{% endif %}>New Activities</option>
        <option value="{% url "web:activities:index" %}?filter=all" {% if selected_tab == 'index_all' %}selected{% endif %}>All Activities</option>
        <option value="{% url "web:activities:strava_list" %}" {% if selected_tab == 'strava_list' %}selected{% endif %}>Add Strava Activities</option>
    </select>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const actionInput = document.querySelector('#action');
        actionInput.addEventListener('change', () => {
            window.location.href = actionInput.value;
        })
    });
</script>
