{% extends "base.html" %}
{% load querystring_tag %}

{% block content %}
<div class="center">
    <h1>Shoe Wear Tracker</h1>
</div>
{% include "web/activities/header.html" %}
<div class="activities">
    {% for activity in activities %}
    <a href="{% url "web:activities:details" activity.id %}">
        <div class="activities__item">
            <div class="activities__name">{{ activity.name }}</div>
            <div class="activities__details">
                <div>{{ activity.get_type_display }} [{{ activity.shoes.name }}]</div>
                <div>{{ activity.created }}</div>
                <div>Distance: {{ activity.get_distance_display }}</div>
                <div>Avg Pace: {{ activity.average_pace }}</div>
            </div>
            <div class="photos__grid">
                {% for photo in activity.prefetched_photos %}
                <div class="photos__photo">
                    <img src="{{ photo.file.thumbnails.square.url }}">
                </div>
                {% endfor %}
            </div>
        </div>
    </a>
    {% empty %}
    <p>No activities yet</p>
    {% endfor %}
</div>
{% if paginator.next or paginator.previous %}
<div class="pagination">
    {% if paginator.previous %}
        <a href="{% querystring 'page'=paginator.previous %}" class="prev"><span>‹</span> Previous</a>
    {% endif %}
    {% if paginator.next %}
        <a href="{% querystring 'page'=paginator.next %}" class="next">Next <span>›</span></a>
    {% endif %}
</div>
{% endif %}

{% endblock %}
