{% extends "base.html" %}

{% block content %}
<div class="center">
    <h1>Shoe Wear Tracker</h1>
</div>
<br>
<form action="" method="post" class="full">
    {% csrf_token %}
    <label for="username">
        <div>Username</div>
        {{ form.username }}
        {{ form.username.errors }}
    </label>
    <label for="password">
        <div>Password</div>
        {{ form.password }}
        {{ form.password.errors }}
    </label>
    {{ form.non_field_errors }}
    <div>
        <br>
        <button type="submit" class="btn btn--full">Sign In</button>
    </div>
</form>
{% endblock %}
