{% extends "base.html" %}

{% block content %}
<div class="center">
    <h1>{{ title|default:"Shoe Wear Tracker" }}</h1>
</div>
{% if back_url %}
<div class="nav">
    <a href="{{ back_url }}">&lt; back</a>
</div>
{% endif %}
<br>
<form action="" method="post" class="full" enctype="multipart/form-data">
    {% csrf_token %}
    {% comment %} Form {% endcomment %}
    {% for field in form %}
    <label for="{{ field.id_for_label }}">
        <div>{{ field.label }}</div>
        {{ field }}
        {{ field.errors }}
    </label>
    {% endfor %}
    {{ form.non_field_errors }}

    {% comment %} Formset {% endcomment %}
    {{ formset.management_form }}
    {% for form in formset %}
        {{ form }}
    {% endfor %}
    <br>
    <div>
        <button type="submit" class="btn btn--full">{{ button_name|default:"Save" }}</button>
    </div>
</form>
{% endblock %}
