<div class="shoes__header">
    <select name="action" id="action">
        <option value="{% url "web:shoes:details" shoe.id %}" {% if selected_tab == 'details' %}selected{% endif %}>Action</option>
        <option value="{% url "web:shoes:activities" shoe.id %}" {% if selected_tab == 'activities' %}selected{% endif %}>Activities</option>
    </select>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const actionInput = document.querySelector('#action');
        actionInput.addEventListener('change', () => {
            window.location.href = actionInput.value;
        })
    });
</script>
