{% extends "base.html" %}

{% block content %}
<div class="center">
    <h1>Shoe Wear Tracker</h1>
</div>
{% include "web/shoes/header.html" %}
<div class="shoes">
    {% for shoe in shoes %}
    <a href="{% url "web:shoes:details" shoe.id %}">
        <div class="shoes__item">
            <div>
                <div class="shoes__name">{{ shoe.name }}</div>
                <div class="shoes__distance">
                    {{ shoe.converted_distance }} {{ request.user.get_distance_unit }}
                </div>
            </div>
        </div>
    </a>
    {% empty %}
    <p>No shoes to track yet</p>
    {% endfor %}
</div>
{% endblock %}
